.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}

html,
body {
	height: 100%;
	width: 100%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
}

.App-body {
	/*min-height: 100vh;*/
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* font-size: calc(10px + 2vmin); */
	color: rgb(0, 0, 0);
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* -------- colors ---------- */

/* basic */
.app-primary {
	background-color: #d7e5ec !important;
}

.app-secondary {
	background-color: #005a98 !important;
}

.app-text-primary {
	color: #000000 !important;
}
.app-text-dark {
	color: #000000 !important;
}
.app-text-secondary {
	color: #005a98 !important;
}

.app-card {
	background-color: #f0faff;
}

/* button */
.app-button {
	background-color: #8795a1 !important;
	border-color: #f2f2f2 !important;
	box-shadow: inset 0 4px 9px -4px #8795a1 !important;
}

.app-button:hover,
.app-button:focus,
.app-button:active,
.open > .dropdown-toggle.app-button {
	background-color: #aabcc6 !important;
}

/* tabs */
.app-text-tab.active {
	color: #1e1e1e !important;
	background-color: #8795a1 !important;
}

.app-text-tabs:hover {
	background-color: #8795a1 !important;
}

.app-text-tabs {
	color: #333333 !important;
	border: unset !important;
	border-color: unset !important;
	background-color: #aabcc6 !important;
}

.app-text-tabs.active {
	color: #1e1e1e !important;
	border: unset !important;
	border-color: unset !important;
	background-color: #8795a1 !important;
}

/* navbar */
.app-navbar {
	background-color: #80b2c9;
}

.app-navbar .app-text-primary {
	color: #000000 !important;
	transition: all 0.2s ease-in-out;
}

.app-navbar .app-text-primary:hover {
	transform: scale(1.1);
}

.app-text-navbar:hover {
	color: #000000 !important;
}
