.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	min-height: 100vh;
}

html,
body {
	height: 100%;
	width: 100%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
}

.App-body {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	/* font-size: calc(10px + 2vmin); */
	color: rgb(0, 0, 0);
}

.app-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* -------- colors ---------- */

/* basic */
body,
.app-primary {
	background-color: #d7e5ec !important;
}

.app-secondary {
	background-color: #5197bb !important;
	background-color: #ffffff !important;
}

.app-tertiary {
	background-color: #08ad66 !important;
}

.app-text-primary,
.app-text-primary .accordion-button {
	color: #000000 !important;
}

.app-text-secondary {
	color: #0000ff !important;
}

/* .app-card {
	background-color: #ecded7;
} */

/* button */
.app-button {
	border-color: #08ad66 !important;
	box-shadow: inset 0 4px 9px -4px #08ad66 !important;
	transition: all 0.1s ease-in-out;
}

.app-button:hover,
.app-button:focus,
.app-button:active,
.open > .dropdown-toggle.app-button {
	background-color: #08ad66 !important;
	transform: scale(1.05);
}

/* tabs */

.app-tabs .app-text-primary {
	margin-bottom: 0 !important;
	border-width: 0 0 3px 0 !important;
}

.app-tabs .app-text-primary.active {
	border-color: #193549 !important;
	/* background-color: #5eadd5 !important; */
}

.app-tabs .app-text-primary:hover {
	/* background-color: #5eadd5 !important; */
	background-color: #f0eeee !important;
}

/* navbar */

.app-navbar .app-text-primary {
	transition: all 0.1s ease-in-out;
	margin-left: 15px;
}

.app-navbar .app-text-primary:hover {
	transform: scale(1.05);
}

.app-navbar .app-text-primary.active {
	border-bottom: 3px solid #193549;
	padding-bottom: 2px;
}
